
* {
	-fx-text-fill: red;
	-fx-stroke: black;
	-fx-stroke-width: 1;
}

.label {
}

.button {
	-fx-font-size: 30;
}
.button:pressed {
    -fx-border-color: transparent, black;

}
.button:hover {
	-fx-background-color: black;
	-fx-opacity: .5;
}



#Pane {
    -fx-background-image: url("/resources/Background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: left left;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0); 
}

